<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/main_stylesheet.css" />
    <link rel="stylesheet" href="/stylesheets/cassie.css" />
    <title>Page not found</title>
  </head>
  <body class="flex flex flex-col justify-center items-center font-sans">
    <div id="login_redirect_wrapper">
      <p>Error <b>404</b> - Page not found</p>
      <p>Please go to <a class="redirect_link" href="/">index</a></p>
    </div>
  </body>
</html>
