<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/main_stylesheet.css" />
    <title>Page not found</title>
  </head>
  <body class="flex flex flex-col justify-center items-center font-sans">
    <p>Error <b>404</b> - Page not found</p>
    <br>
    <p>Plase go to <a href="/" style="color: lightblue">index</a>.</p>
  </body>
</html>