<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/main_stylesheet.css" />
    <title>Administration panel</title>
  </head>
  <body class="flex flex-auto justify-center items-center font-sans">
    <p>You're not yet ready for so much power.</p>
    <p>Please, <a href="/logout">logout</a>.</p>
  </body>
</html>