<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/main_stylesheet.css" />
    <link rel="stylesheet" href="/stylesheets/cassie.css" />
    <title>Index</title>
  </head>
  <body class="flex flex-auto justify-center items-center font-sans">
    <div id="login_redirect_wrapper">
      <p>Please go to <a class="redirect_link" href="/login">login</a></p>
    </div>
  </body>
</html>
