<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/main_stylesheet.css" />
    <title>Index</title>
  </head>
  <body class="flex flex-auto justify-center items-center font-sans">
    <p>Plase go to <a href="/login" style="color: lightblue">login</a></p>
  </body>
</html>