<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/main_stylesheet.css" />
    <link rel="stylesheet" href="/stylesheets/cassie.css" />
    <title>Login</title>
  </head>
  <body class="flex flex-auto justify-center items-center font-sans">
    <div
      id="login-container"
      class="container sm flex flex-col flex-auto justify-center items-center"
    >
      <div id="login__logo__outer-container">
        <img
          id="login-container__logo"
          src="/images/eurofins_logo_2.png"
          class="mb-4"
        />
      </div>

      <h1 id="login-container__title" class="mb-2">Welcome to DigitalAI.no</h1>
      <h2 id="login-container__text" class="mb-10">
        Log in with your DigitalAI account to continue
      </h2>

      <form
        method="POST"
        action="/login"
        class="flex flex-col flex-auto justify-center items-center"
      >
        <div class="login-input__container">
          <!--<label class="login-input__label" for="username" class="mb-5"
            >User:</label
          >-->
          <input
            class="container sm border-1 rounded-sm text-black p-0.5"
            type="text"
            id="username"
            name="username"
            placeholder="user"
          />
        </div>
        <div class="login-input__container">
          <!--<label class="login-input__label" for="password" class="mb-5"
            >Pass:</label
          >-->
          <input
            class="container sm border-1 rounded-sm text-black p-0.5"
            type="password"
            id="password"
            name="password"
            placeholder="password"
          />
        </div>
        <button id="login__button__container" class="" type="submit">
          Log In
        </button>
      </form>
    </div>
    <!-- END OF LOGIN CONTAINER -->
  </body>
</html>
