<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Client Info</title>
</head>
<body>
  <h1>Client Info</h1>
  <p><%= user.getInfo() %></p>
  <div id="webSocket">
    <div id="webSocketOutput"></div>
    <input id="webSocketInput" type="text" placeholder="Send..." autofocus> 
  </div>
  <script>
    // Create sock instance
    const ws = new WebSocket('wss://localhost:8008');

    var userData = <%- JSON.stringify(user) %>;

    // Handle events once conn is established
    ws.onopen = () => {
      console.log('We got a connection');
    };

    // Handle received events
    ws.onmessage = (event) => {
      let message = event.data;
      console.log('Msg received:', message);
      console.log(JSON.parse(message));
      message = JSON.parse(message);
      webSocketOutput.innerHTML += 'AI: ' + message.data + '<br>';
    };

    // Handle close event
    ws.onclose = () => {
      console.log('Connection closed');
    };

    // Showing output
    const webSocketOutput = document.getElementById('webSocketOutput');

    // Code for capturing input
    const webSocketInput = document.getElementById('webSocketInput');
    
    webSocketInput.addEventListener('keydown', (event) => {
      if (event.key === 'Enter') {
        const text = webSocketInput.value.trim();
        if (text !== '') {
          const msg = {
            origin: userData.token,
            data: text,
          }
          ws.send(JSON.stringify(msg));
          webSocketOutput.innerHTML += 'You: ' + msg.data + '<br>';
          webSocketInput.value = '';
        }
      }
    });
  </script>
</body>
</html>
