<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Client Info</title>
</head>
<body>
  <h1>Client Info</h1>
  <p><%= user.getInfo() %></p>
  <div id="chatControl">
    <p>
      <form id="crawlForm" method="POST" action="/crawl">
        <label for="url">URL:</label>
        <input id="url" type="text" placeholder="Write URL to crawl." name="url" autofocus>
        <button id="crawlButton" type="submit">Crawl!</button>
      </form>
    </p>
  </div>
  <!--
  <div id="webSocket">
    <p>
      <div id="webSocketOutput"></div>
      <input id="webSocketInput" type="text" placeholder="Send..." autofocus>
    </p>
  </div>
  <div id="logout">
    <form method="GET" action="/logout">
      <button type="submit">Logout</button>
    </form>
  </div>
  -->
  <% if ( user.chatbot !== undefined ) { %> 
    <p>Your chatbot link is <a href="https://localhost:8008/chat/<%= user.chatbot.chatId %>">https://localhost:8008/chat/<%= user.chatbot.chatId %></a></p>
  <% } %>
  <script>
    // Adding "Loading text"
    const crawlFrom = document.getElementById('crawlForm');

    crawlFrom.addEventListener('submit', (event) => {
      console.log("BUTTON PRESSED!!!!!!!!!");
      const textNode = document.createElement('p');
      textNode.innerHTML = 'Please wait until we process your URL...';
      const targetNode = document.getElementById('chatControl');
      targetNode.appendChild(textNode)
    });

    // Create sock instance
    const ws = new WebSocket('wss://localhost:8008');

    var userData = <%- JSON.stringify(user) %>;

    // Handle events once conn is established
    ws.onopen = () => {
      console.log('We got a connection');
    };

    // Handle received events
    ws.onmessage = (event) => {
      let message = event.data;
      console.log('Msg received:', message);
      console.log(JSON.parse(message));
      message = JSON.parse(message);
      webSocketOutput.innerHTML += 'AI: ' + message.data + '<br>';
    };

    // Handle close event
    ws.onclose = () => {
      console.log('Connection closed');
    };

    // Showing output
    const webSocketOutput = document.getElementById('webSocketOutput');

    // Code for capturing input
    const webSocketInput = document.getElementById('webSocketInput');
    
    webSocketInput.addEventListener('keydown', (event) => {
      if (event.key === 'Enter') {
        const text = webSocketInput.value.trim();
        if (text !== '') {
          const msg = {
            origin: userData.token,
            data: text,
          }
          ws.send(JSON.stringify(msg));
          webSocketOutput.innerHTML += 'You: ' + msg.data + '<br>';
          webSocketInput.value = '';
        }
      }
    });
  </script>
</body>
</html>
