/* Those are my tweaks, please put them in TailwindCSS format <3 */

:root {
  --blue_M: #1c418a;
  --orange_S: #f58025;
  --blue_P_medium: #a0b6e0;
  --blue_P_light: #b5ceec;
  --white_F: #ffffff;
  --black_J: #363636;

  --background_1: var(white_F);
  --background_2: var(black_J);
  --brand_color_1: var(--blue_M);
  --brand_color_2: var(--orange_S);
  --brand_color_3: var(--blue_P_medium);
  --brand_color_4: var(--blue_P_light);

  background-color: var(--white_F);
}

body {
  color: black;
  background-color: var(--white_F);
  /*background: linear-gradient(
    180deg,
    rgba(68, 70, 84, 1) 0%,
    rgba(68, 70, 84, 1) 85%,
    rgba(53, 55, 64, 1) 100%
  );*/
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* This goes for the question and answers texts */
.rendered_message > * > p {
  padding: 0.25rem;
  line-height: 1.65rem;
}

.chat__user-text--wrapper {
  padding: 0rem 1rem;
}

/* This for the answer div */
.rendered_message:not(.user_message) > .chat__user-text--wrapper {
  background-color: inherit !important;
  /*padding: 1rem;*/
}

/* Style to disable inputs  */
.gray-out {
  /* background-color: #292A33 !important;
    color: #4B4C52 !important;*/
  cursor: not-allowed !important;
}

#unfold__accordion-icon__container {
  z-index: 10;
  position: absolute;
  background-color: white;

  border-radius: 10px;
  height: 2.5rem;
  width: 2.5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  -webkit-box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
  -moz-box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
  box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
}

.unfold__accordion-icon__container--unfolded {
  top: 8.5%;
  left: 46.5%;
}

.unfold__accordion-icon__container--folded {
  top: 7.5%;
  left: 71.5%;
}

#unfold_accordion_icon--close {
  font-size: 2rem;
}
/* ///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */
/*  CHAT PANEL */

#chat-screen__right-half {
  width: 50%;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#webSocket {
  width: 100%;
  height: 100vh;
  /* max-height: 85vh; */

  padding: 1.5rem 4rem;
  /*
  border: 1px solid var(--brand_color_2);
  border-radius: 50px;
  */
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;

  padding-bottom: 1rem;
  align-items: center;
  /*
  -webkit-box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
  -moz-box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
  box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
  */
}

#webSocketInput {
  width: 85%;
  height: 3.5rem;
  max-height: 3.5rem;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  margin-bottom: 2rem;

  border-radius: 15px;
  -webkit-box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
  -moz-box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
  box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);

  background-color: var(--blue_P_light);
  border: 1px solid var(--blue_P_medium);
}

#webSocketOutput {
  height: 90%;
  width: 100%;

  /*display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: flex-end;*/

  overflow-y: scroll;
  padding: 1rem;

  /*border-top: 1px solid black;
  border-left: 1px solid black;*/
}

#webSocketOutput {
}

.rendered_message {
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  align-items: center;

  padding: 0.5rem;
  border-bottom: 1px solid var(--brand_color_1);
}

.user_message {
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  align-items: center;
  /*background-color: var(--brand_color_1);*/

  color: var(--brand_color_1);
}
.chat__user-text--wrapper {
}

.chat__user-icon--wrapper {
  padding: 0.5rem;
  width: 1rem;
  height: 1rem;

  align-self: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.user_message .chat__user-icon--wrapper {
}

.machine_message .chat__user-icon--wrapper {
  /*background-color: var(--brand_color_2);*/
}

/* ///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */
/*  TABS PANEL */

#chat-screen__left-half {
  width: 50%;
  height: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#tabs-panel__container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#tabs-panel__outer-wrapper {
  height:100vh;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  /*
  border: 1px solid var(--brand_color_1);

  border-radius: 0px 0px 50px 50px;

  -webkit-box-shadow: 5px 5px 5px -3px rgba(194, 190, 194, 0.57);
  -moz-box-shadow: 5px 5px 5px -3px rgba(194, 190, 194, 0.57);
  box-shadow: 5px 5px 5px -3px rgba(194, 190, 194, 0.57);
  */
}

#tabs-panel__tabs-wrapper {
  height: 4rem;
  width: 100%;
  border-bottom: 1px SOLID GREY;
  background-color: var(--brand_color_1);

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

.tabs-panel__tab {
  flex-grow: 1;
  height: 100%;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-right: 1px solid white;
  border-bottom: 0px;

  font-size: 1.3rem;
  color: white;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  transition: background 0.2s;
}

.tabs-panel__tab:hover {
  background-color: var(--brand_color_2);
  text-decoration-color: var(--brand_color_1);
  transition: color 0.2s, text-decoration 0.2s, text-decoration-color 0.2s;
}

.isSelectedTab {
  background-color: var(--brand_color_2);
  text-decoration-color: var(--brand_color_1);
  color: var(--brand_color_1);
  transition: color 0.2s, text-decoration 0.2s, text-decoration-color 0.2s;
}

.tabs-panel__tab:hover .tabs-panel__tab-icon {
  color: var(--brand_color_1);
}

.tabs-panel__tab:hover .tabs-panel__tab-text {
  color: var(--brand_color_1);
}

.tabs-panel__tab-icon {
  margin-right: 0.5rem;
}

.tabs-panel__tab-text {
  font-size: 1.1rem;
}

#tabs-panel__content {
}

#tabs-panel__tabs-content--wrapper {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
}

.tabs-panel__tabs-content {
  width: 100%;
  height: 100%;
  padding: 2.5rem 2.5rem;
}

#tabs-content-1 {
  display: block;
}

#tabs-content-2 {
  display: none;
}

#tabs-content-3 {
  display: none;
}

#tabs-content-4 {
  display: none;
}

@media (orientation: portrait) {
  #chat-screen__left-half {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
  }

  #chat-screen__right-half {
    width: 100%;
  }

  #tabs-panel__tabs-wrapper {
    width: 100%;
    height: 25%;
    border-bottom: 1px SOLID GREY;
    background-color: var(--brand_color_1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .tabs-panel__tab {
    width: 100%;
    padding: 0.2rem 1rem;
    border-bottom: 1px solid white;
    border-right: 0px;
    font-size: 1rem;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    transition: background 0.2s;
  }

  .unfold__accordion-icon__container--unfolded {
    top: 2.5%;
    left: 90%;
  }

  .unfold__accordion-icon__container--folded {
    top: 2.5%;
    left: 90%;
  }

  #unfold_accordion_icon--close {
    font-size: 2rem;
  }
}

/*  END OF TABS PANEL */
/* ///////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// */

#login_redirect_wrapper {
  background-color: var(--brand_color_1);
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(194, 190, 194, 0.57);
  -moz-box-shadow: 10px 10px 5px 0px rgba(194, 190, 194, 0.57);
  box-shadow: 10px 10px 5px 0px rgba(194, 190, 194, 0.57);
}

.redirect_link,
.redirect_link:visited {
  color: var(--brand_color_2);
  text-decoration: underline;
  transition: color 0.4s;
}

.redirect_link:hover {
  color: rgb(156, 156, 156);
}

.hideMenu {
  display: none !important;
}

.showMenu {
  display: flex !important;
}

#upper_panel__container {
  width: 100%;
}

#upper_panel__container input {
  background-color: white;
  border: 1px solid black;
  color: black;
}

/*LOGIN SCREEN*/

#login-container {
  background-color: var(--brand_color_1);
  width: 30%;
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 5px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(194, 190, 194, 0.57);
  -moz-box-shadow: 10px 10px 5px 0px rgba(194, 190, 194, 0.57);
  box-shadow: 10px 10px 5px 0px rgba(194, 190, 194, 0.57);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#login__logo__outer-container {
  margin-bottom: 1rem;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: white;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#login-container__logo {
  height: 75%;
  width: auto;
}

#login-container__title {
  margin-bottom: 0.5rem;
  display: none;
}

#login-container__text {
  margin-bottom: 2.5rem;
}

.login-input__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.login-input__label {
  min-width: 27%;
}

#login__button__container {
  margin-top: 2rem;
  background-color: var(--brand_color_3);
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  display: block;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: color 0.5s, background-color 0.5s;
}

#login__button__container:hover {
  background-color: var(--brand_color_4);
  color: var(--brand_color_1);
  transition: color 0.5s, background-color 0.5s;
}

#login-container form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#login-container form input {
  align-self: flex-end;
  color: black;
}

#chatbot_link__p {
  font-size: 1.2rem;
}

.chatbot__link {
  color: var(--brand_color_2);
  padding: 0px 2px;
  padding-left: 5px;
  border-radius: 5px;
  margin-right: 2px;
}

/* SAVED CHATS TAB */
.tab-content__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.6rem;
}

.saved-chat--example {
  width: 100%;
  cursor: pointer;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: space-between;

  border: 1px solid var(--brand_color_1);
  border-radius: 10px;
  padding: 0rem 0.2rem;

  -webkit-box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
  -moz-box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
  box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
}

.saved-chat--example__title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: space-between;
  width: 83%;
  font-size: 1.1rem;
  padding: 0.6rem 0rem;

  padding-left: 1rem;
}

.saved-chat--example__icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
}

.saved-chat--example:hover {
  background-color: var(--brand_color_1);
  color: var(--white_F);
  border: 1px solid var(--brand_color_1);
}

.saved-chat--example:hover .saved-chat--example__title {
}

.saved-chat--example:hover i:hover {
  color: rgb(116, 243, 116);
  font-size: 1.8rem;
}

.saved-chat--example:hover .thrash_icon i:hover {
  color: red !important;
  font-size: 1.8rem;
}

/* KNOWLEDGE TAB */

.tab-3-debug {
}

.tab-3-debug * {
}

.accordion {
  width: 100%;
  cursor: pointer;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: space-between;

  border: 1px solid var(--brand_color_1);
  border-radius: 10px;
  padding: 0rem 0.2rem;

  -webkit-box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
  -moz-box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
  box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
}

.active,
.accordion:hover {
  background-color: var(--brand_color_1);
  color: var(--white_F);
  border: 1px solid var(--brand_color_1);
}

.active .caret__wrapper,
.accordion:hover .caret__wrapper {
  background-color: white;
  color: blue;
}

.panel {
  display: none;
  /*overflow: hidden;*/
}

.panel p {
  width: 93%;
  margin: 0px auto;
  position: relative;
}

.knowledge-panel__title {
  font-size: 1.1rem;
  padding: 0.6rem 0rem;

  padding-left: 1rem;
}

.active.knowledge-panel__title,
.accordion:hover.knowledge-panel__title {
}

.knowledge--example__icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
  margin-left: auto;
}

.caret__wrapper {
  background-color: var(--brand_color_1);
  color: white;
  border-radius: 50%;
  font-size: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.active .caret__wrapper {
  rotate: 180deg;
}

#knowledge__search--wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  border-radius: 5px;

  -webkit-box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
  -moz-box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
  box-shadow: 1px 1px 5px 4px rgba(194, 190, 194, 0.57);
}

#knowledge-search__input {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid black;
  border-right: 0px;
}

#knowledge-search__button {
  width: 3rem;
  border-radius: 0px 5px 5px 0px;
  background-color: grey;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;

  border: 1px solid black;
  border-left: 0px;
}

#knowledge-search__button:hover {
  background-color: lightgray;
}
/* TAB 4 ADMIN */

#tab-4__title {
  font-size: 2rem;
}

#tab-4__users-number {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

#tab-4__see-users {
  border-radius: 5px;
  padding: 0.5rem;
  background-color: var(--blue_P_light);
  color: var(--brand_color_1);
}

#tab-4__see-users:hover {
  background-color: var(--blue_P_medium);
  text-decoration: underline;
}

#tab-4__users-remaining {
}

#tab-4__ad-users {
  margin-top: 1rem;
  width: 100%;
  border-top: 1px solid grey;
  font-size: 2rem;
}

#tab-4__ad-multiple__button {
}

#tab-4__select-role_wrapper {
}

#tab-4__chose-title {
  display: block;
  font-size: 1.5rem;
}

/* CLIENT DATA SECTION -- TAB 1 */
.client-panel__data--section {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.client-panel__data--subsection__full {
  min-width: 100%;
}

.client-panel__data--subsection__left {
  min-width: 30%;
}

.client-panel__data--subsection__right {
}

#crawlForm {
  width: 100%;
  /*display: flex;
  flex-flow: column nowrap;*/
}

.user-panel__form__label {
  display: block;
  width: 100%;
  font-size: 1.2rem;
}

.user-panel__form__button {
}

.client-panel__form-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.client-panel__form-flex input {
  margin-right: 1rem;
  border-radius: 5px;
  min-width: 50%;
}

.client-panel__form-flex button {
  height: 100%;

  min-width: 5rem;
  background-color: var(--blue_P_light);
  color: var(--brand_color_1);
  padding: 0.5rem;
  border-radius: 5px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.client-panel__form-flex button:hover {
  background-color: var(--blue_P_medium);
}

.client-panel__data--subsection__title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
}

.client-panel__data--subsection__state-message {
  margin-top: 0.4rem;
}

.data--section--special {
  border: 0px !important;
  margin-bottom: 0px !important;
}

.data--section--last {
  border: 0px !important;
  margin-bottom: 0px !important;
}

.data--section--last .client-panel__form-flex {
  justify-content: center !important;
  align-items: center !important;
}

.client-panel__data--section b {
  color: rgb(136, 145, 169);
}

#client-panel__data {
  padding: 0rem 2rem 2rem 2rem !important;
}

/* CHAT VIEW */

#chat_view_h1 {
  font-size: 1.5rem;
}

#chat__view #webSocketInput {
  width: 40vw;
}

.rendered_message a {
  color: var(--brand_color_1) !important;
}

.user_message img {
  opacity: 0;
}

#username,
#password {
  border-radius: 5px;
  margin-bottom: 1rem;
}
